# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [60]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [61]:
df_path = "dataset_part_2 (1).csv"
df = pd.read_csv(df_path)

In [62]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). Usa la misma que en la práctica de ETL
nombreBD = 'AlbertoRodriguez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.98.205/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [63]:
if not database_exists(engine.url):
    create_database(engine.url)

In [64]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL',con=engine, if_exists='replace')

In [65]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [66]:
query = """select distinct LaunchSite from SPACEXTBL;"""
pd.read_sql(query, con = engine )

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [67]:
query = """ select LaunchSite from SPACEXTBL where LaunchSite like 'CCS%' limit 5; """
pd.read_sql(query, con = engine )

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [77]:
query = """select Customers as 'Empresa', sum(PayloadMass) as 'MasaTotal' from SPACEXTBL where Customers = 'NASA (CRS)' group by Customers;"""
pd.read_sql(query, con = engine )

      Empresa  MasaTotal
0  NASA (CRS)    47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [88]:
query = """select Serial, avg(PayloadMass) as 'Masa_Media' from SPACEXTBL where Serial like 'B1%' group by Serial;"""
pd.read_sql(query, con = engine )

   Serial    Masa_Media
0   B1003    500.000000
1   B1004   3170.000000
2   B1005   3325.000000
3   B1006   2296.000000
4   B1007   1316.000000
5   B1008   4535.000000
6   B1010   2216.000000
7   B1011   4428.000000
8   B1012   2395.000000
9   B1013    570.000000
10  B1015   1898.000000
11  B1016   4707.000000
12  B1017    553.000000
13  B1018   2477.000000
14  B1019   2034.000000
15  B1020   5271.000000
16  B1021   4218.000000
17  B1022   4696.000000
18  B1023   3100.000000
19  B1025   2257.000000
20  B1026   4600.000000
21  B1028   5500.000000
22  B1029   6634.500000
23  B1030   5600.000000
24  B1031   3845.000000
25  B1032   5176.773824
26  B1034   6070.000000
27  B1035   2456.500000
28  B1036   9600.000000
29  B1037   6761.000000
30  B1038    475.000000
31  B1039   2835.000000
32  B1040   5186.925000
33  B1041   9600.000000
34  B1042   3700.000000
35  B1043   6123.547647
36  B1044   6092.000000
37  B1045   1380.000000
38  B1046   4918.386912
39  B1047   5525.333333
40  B1048  10900.000000
41  B1049  12776.666667
42  B1050   2573.000000
43  B1051  12096.800000
44  B1054   4400.000000
45  B1056   6777.425000
46  B1058  10416.182549
47  B1059   6044.250000
48  B1060  11693.333333
49  B1062   3681.000000

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [96]:
query = """select min(Date) from SPACEXTBL where LandingOutcome = 'TRUE RTLS';"""
pd.read_sql(query, con = engine )

    min(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [97]:
query = """select Serial from SPACEXTBL where LandingOutcome = 'TRUE ASDS' AND PayloadMass > 4000 AND PayloadMass < 6000;"""
pd.read_sql(query, con = engine )

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [102]:
query = """select Class as 'Resultado_Mision', count(Class) as 'Total_Lanzamientos' from SPACEXTBL group by Class;"""
pd.read_sql(query, con = engine )

   Resultado_Mision  Total_Lanzamientos
0                 0                  30
1                 1                  60

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [109]:
query = """select Serial, PayloadMass from SPACEXTBL where PayloadMass = (select max(PayloadMass) from SPACEXTBL);"""
pd.read_sql(query, con = engine )

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [111]:
query = """select LandingOutcome, Serial, LaunchSite, Date from SPACEXTBL where Class = 0 AND Date = 2015;"""
pd.read_sql(query, con = engine )

  LandingOutcome Serial    LaunchSite        Date
0     False ASDS  B1012  CCSFS SLC 40  2015-01-10
1     False ASDS  B1015  CCSFS SLC 40  2015-04-14
2      None None  B1016  CCSFS SLC 40  2015-04-27
3      None ASDS  B1018  CCSFS SLC 40  2015-06-28

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [116]:
query = """select LandingOutcome, count(FlightNumber) from SPACEXTBL where Date between '2010-06-04' and '2017-03-20' and Class = '0' group by LandingOutcome order by count(FlightNumber) desc;"""
pd.read_sql(query, con = engine )

  LandingOutcome  count(FlightNumber)
0      None None                    9
1     False ASDS                    4
2    False Ocean                    2
3      None ASDS                    2